In [9]:
# import required libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import pandas as pd
import os
import imblearn
from imblearn.over_sampling import SMOTE
import joblib

In [12]:
# load stroke positive data subset
stroke_subset = pd.read_csv("data/combined_subsets.csv")
stroke_subset.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,0,0,228.69,36.6,1,1
1,31112,1,80.0,0,1,1,0,1,105.92,32.5,0,1
2,60182,0,49.0,0,0,1,0,0,171.23,34.4,2,1
3,1665,0,79.0,1,0,1,1,1,174.12,24.0,0,1
4,56669,1,81.0,0,0,1,0,0,186.21,29.0,1,1
5,53882,1,74.0,1,1,1,0,1,70.09,27.4,0,1
6,10434,0,69.0,0,0,0,0,0,94.39,22.8,0,1
7,12109,0,81.0,1,0,1,0,1,80.43,29.7,0,1
8,12095,0,61.0,0,1,1,3,1,120.46,36.8,2,1
9,12175,0,54.0,0,0,1,0,0,104.51,27.3,2,1

In [3]:
stroke_subset.shape

(29072, 12)

In [4]:
# target
target = stroke_subset["stroke"]
target_names = ["no", "yes"]

# features
stroke_data = stroke_subset.drop(["stroke","id"], axis=1)
feature_names = stroke_data.columns

stroke_data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,0,0,228.69,36.6,1
1,1,80.0,0,1,1,0,1,105.92,32.5,0
2,0,49.0,0,0,1,0,0,171.23,34.4,2
3,0,79.0,1,0,1,1,1,174.12,24.0,0
4,1,81.0,0,0,1,0,0,186.21,29.0,1

In [5]:
sm = SMOTE()
stroke_data, target = sm.fit_resample(stroke_data,target)

In [7]:
model_RF = joblib.load('RF_model.sav')
result_RF = model_RF.predict(stroke_data)
print(classification_report(target, predictions,
                            target_names=["No Stroke", "Stroke"]))

In [10]:
from sklearn.metrics import classification_report

predictions = model_RF.predict(stroke_data)

print(classification_report(target, predictions,
                            target_names=["No Stroke", "Stroke"]))

              precision    recall  f1-score   support

   No Stroke       0.99      0.99      0.99     28524
      Stroke       0.99      0.99      0.99     28524

    accuracy                           0.99     57048
   macro avg       0.99      0.99      0.99     57048
weighted avg       0.99      0.99      0.99     57048